__pycache__
mvenv/
.env
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.DS_Store
.idea/
.vscode/
__pypackages__/
dist/
build/
*.egg-info/
.eggs/
pip-wheel-metadata/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml       